/* Aseguramos que el body ocupe al menos el 100% del viewport */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #ffff;
    background-color: #000000;
    font-family: 'Arial', sans-serif; /* Cambiar la fuente para un aspecto más moderno */
}

/* Para que el contenido crezca con el tamaño de la página */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* El contenido principal debe ocupar el espacio restante */
.content {
    flex: 1;
    padding: 20px; /* Espaciado alrededor del contenido */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con un poco de transparencia */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
}

/* Ajustamos el footer para que siempre esté al fondo y ocupe todo el ancho */
footer a {
    transition: color 0.3s;
}

footer a:hover {
    color: #ff6347; /* Cambia el color al pasar el ratón */
}

/* Estilo para los íconos sociales en el footer */
.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px; /* Tamaño de icono aumentado */
    transition: transform 0.3s; /* Animación al pasar el ratón */
}

.social-icons a:hover {
    transform: scale(1.2); /* Aumentar el tamaño al pasar el ratón */
}

/* Estilo para el carrusel de imágenes */
.carousel-item img {
    max-height: 800px; /* Ajusta este valor según el tamaño deseado */
    object-fit: cover; /* Mantiene las proporciones de la imagen y llena el espacio */
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del carrusel */
    border-radius: 10px; /* Bordes redondeados */
}

/* Ajustes para todo el header */
.navbar {
    background-color: #1f1f1f; /* Color de fondo oscuro */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra suave para profundidad */
}

.navbar-brand {
    font-size: 1.5rem; /* Aumentamos el tamaño de la marca */
    color: #ffffff; /* Color del logo (puedes personalizar) */
}

.navbar-brand:hover {
    color: #ff6347; /* Cambio de color al pasar el ratón */
}

.nav-link {
    font-size: 1.1rem; /* Tamaño del texto de los enlaces */
    color: #ffffff; /* Color blanco para los enlaces */
    transition: color 0.3s ease, text-shadow 0.3s ease; /* Añadido para suavizar la transición */
}

.nav-link:hover {
    color: #ff6347; /* Color de hover para los enlaces */
    text-shadow: 0 0 5px rgba(255, 99, 71, 0.7); /* Sombra sutil al pasar el ratón */
}

.navbar-toggler {
    border: none; /* Eliminamos el borde del botón del menú móvil */
}

.navbar-toggler-icon {
    background-color: #ff6347; /* Color del ícono del menú móvil */
}

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 991px) {
    .navbar-nav .nav-item {
        text-align: center;
        margin-bottom: 10px;
    }
}

/* Estilo general para el body */
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Fondo para la página de inicio */
.background-team {
    background-image: url('../images/fr.jpg');
}
.background-recompensas {
    background-image: url('../images/wint.jpg');
}
/* Fondo para la página de "Nosotros" */
.background-about {
    background-image: url('../images/oso.jfif');
}

/* Fondo para la página de contacto */
.background-contact {
    background-image: url('../images/ham.jpg');
}

.background-map {
    background-image: url('../images/we.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-mods {
    background-image: url('../images/oso.jfif');
}

.background-weather {
    background-image: url('../images/nube.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-video {
    background-image: url('../images/wint.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-perfil {
    background-image: url('../images/we.jfif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}










